<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <br>
    <br/>
    <br>
    <p><strong>
        <h1>
            Cambio de Contraseña
        </h1>
    </strong></p>
    <br>
    <br/>
    <br>
    <br>
    <br/>
    <form #form="ngForm" (ngSubmit)="Recuperar(form)">
        <div><label><strong>Carne:</strong></label><input [(ngModel)]="carne" name="carne"></div>
        <br>
        <br/>
        <br>
        <br/>
        <br>
        <div><label><strong>Correo:</strong></label><input [(ngModel)]="correo" name="correo"></div>
        <br>
        <br/>
        
        <br>
        <br/>
        <br>
        <br/>
        <br>
        <center>
            <button type="submit">
                <strong>
                    Recuperar
                </strong>
            </button>
        </center>
    </form>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
    <br>
</body>
</html>