<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css">
</head>
<body>
    <br>
    <br/>
    <p><strong>
        <h1>
            Cambio de Contraseña
        </h1>
    </strong></p>
    <br>
    <br/>
    <form #form="ngForm" (ngSubmit)="Nuevo(form)">
    <div><label><strong>Nueva Contraseña:</strong></label><input [(ngModel)]="password" name="password"></div>
    <br>
    <br/>
    <div><label><strong>Carne:</strong></label><input [(ngModel)]="carne" name="carne"></div>
    <br>
    <br/>

    <br>
    <br/>
    <center>
        <button type="submit">
            <strong>Cambiar</strong>
        </button>
    </center>
    </form>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
    <br>
    <br/>
</body>
</html>